main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "Sedgwick Ave Display", cursive;
  font-size: 68px;
  color: rgb(245, 245, 245);
}

/* Generador contraseña */

.generador-input {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  gap: 20px;
}

.generador-length {
  width: 100%;
}

.generador-length {
  font-family: 'Rubik', sans-serif;
  font-size: 38px;
}

.generador-pass {
  font-family: 'Rubik', sans-serif;
  font-size: 38px;
  letter-spacing: 26px;
}

.generador-again {
  cursor: pointer;
  font-size: 38px;
}
